.Cocina {
  background-color: rgb(255, 255, 255);
  padding:10px;
  text-align:center;
  min-height: 800px;
  margin:0 auto;
}

.Pedidos {
  text-align:center;
}

.options {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}


 /* I Pad Pro */
@media only screen and (min-height: 1025px) and (max-height: 3160px) {
  .Cocina {
    min-height:1170px;
  }
}

/* Desktop */
@media only screen and (min-width: 1221px) and (orientation: landscape) {
  .Cocina {
    min-height:630px;
  }
  .options {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
