.Cocina {
  background-color: rgb(255, 255, 255);
  padding:20px;
  text-align:center;
  height: 700px;
  margin:0 auto;
}

.Pedidos {
  display:grid;
  padding:20px;
  text-align:center;
}
