.Content {
margin:0px auto;
margin-top: 70px;
width:66%;
background-color:rgb(255, 255, 255);
height:640px;
padding:10px;
color:white;
text-align:center;
border-radius:11px;
align-items: center;
}

.Logo img {
    text-align:center;
    animation:App-logo-spin infinite 20s linear;
    height:230px;
    padding: 20px 20px 0 20px;
}

.button {
    display: grid;
    margin: 34px 0 0 55px;
    grid-gap: 20px;
    padding: 5px;
    border: 10px;
    border-radius: 5px;
    width: 280px;
    height: 82%;
    -webkit-box-shadow: 3px 9px 10px -9px rgba(0,0,0,0.28);
    -moz-box-shadow: 3px 9px 10px -9px rgba(0,0,0,0.28);
    box-shadow: 3px 9px 10px -9px rgba(0,0,0,0.28);
}

h2 {
    color: #4F1011;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(30deg); }
} */ 