@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;1,400&family=Asap:ital,wght@0,400;0,500;1,400&display=swap");

.Entregas {
  background-color: rgb(255, 255, 255);
  padding:10px;
  text-align:center;
  height: 100%;
  margin:0 auto;
}

.Entregar {
  padding:10px;
  text-align:center;
}

.order-container {
  display: grid;
  grid-template-columns: 1fr;
}

.order-boxes {
  position: relative;
  margin: 40px auto;
  width: 500px;
  background: #f3f3f3;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  outline: none;
  border: none;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 3px 9px 10px -9px rgba(0, 0, 0, 0.28);
}

.title-box,
.title-table {
  font-family: "Asap Condensed", sans-serif;
  text-transform: uppercase;
  color: #686868;
  font-weight: 600;
  font-size: 25px;
}

.title-table {
  margin-left: 50px;
}

.order-content {
  font-family: "Asap", sans-serif;
  color: #4f1011;
  font-weight: 500;
}


 /* I Pad Pro */
@media only screen and (min-height: 1025px) and (max-height: 3160px) {
  .Entregas {
   min-height:1160px;
  }
}

/* Desktop */
@media only screen and (min-width: 1221px)  and (orientation: landscape) {
  .Entregas {
    min-height:680px;
    padding:0px;
  }
  .Entregar {
    padding:0px;
  }
  }

