.Entregas {
  background-color: rgb(255, 255, 255);
  padding:10px;
  text-align:center;
  height: 800px;
  margin:0 auto;
}

.Entregar {
  padding:10px;
  text-align:center;
}


 /* I Pad Pro */
@media only screen and (min-height: 1025px) and (max-height: 3160px) {
  .Entregas {
   min-height:1160px;
  }
}

/* Desktop */
@media only screen and (min-width: 1221px)  and (orientation: landscape) {
  .Entregas {
    min-height:680px;
    padding:0px;
  }
  .Entregar {
    padding:0px;
  }
  }

