.Executingorder {
  min-height: 35vh;
  width: 60%!important;
}

.trashIcon{
  color: #E6221F;
  cursor: pointer;
}

.aaa {
  border: 5px solid #f4b200;
}

.tableHead{
  border-top: 0px solid #dee2e6;
}

.table thead th{
  border-bottom: 0px!important;
  border-top: 0px!important;
}

.deleteItem{ 
  border-top: 0px!important;
}