.Header {
  display:flex;
  flex-direction:row;
  text-align:left;
  background-color: white;
  padding:20px;
  }

  .Header a {
      text-decoration: none;
  }

  .Header a:hover {
      text-decoration: none;
  }

  .Header h2 {
    align-items:left;
    justify-items:right;
    text-align:center;
    color:rgb(255, 255, 255);
  }

  .Header button {
    background-color:#F4B200;
    border-radius: 10px;
    border:none;
    color:rgb(255, 255, 255);
    padding-top:10px;
    width:125px;
  }

  .Logo2 img {
  height:85px;
  }

  .Header,.Clock div {
    display:grid;
    grid-template-columns: 6fr 1fr;
  }

  .Clock div h3 {
    background-color:#e0ded61c;
    align-content:right;
    justify-items:self-end;
    border-radius: 10px;
    text-align:right;
    margin:30px;
    color:#807c7c;
  }


/* Desktop */
@media only screen and (min-width: 1221px)  and (orientation: landscape) {
  .Logo2 img {
    height:90px;
    padding:5px;
    padding-bottom:31px
    }
    .Header {
      padding:5px;
    }
    .Header button {
      width:100px;
      margin-bottom:50px;
    }
    .Header h2 {
      font-size:20px;
    }
}
