.Home {
margin:0px auto;
margin-top: 20px;
width:70%;
background-color:rgb(255, 255, 255);
height:760px;
padding:10px;
color:white;
text-align:center;
border-radius:20px;
align-items: center;
}

.Logo img {
    text-align:center;
    animation:App-logo-spin infinite 20s linear;
    height:230px;
    padding:20px;
}

.button {
    display:grid;
    margin:10px;
    grid-gap:20px;
    padding:5px;
    border:10px;
}

h2 {
    color:#4F1011;
     font-size:38px;
}

.button a {
    text-decoration: none;
}
.button a:hover {
    text-decoration: none;
    background-color: #93c244;
}