@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;1,400&family=Asap:ital,wght@0,400;0,500;1,400&display=swap');

body {
text-align:center;
background-color:#F4B200;
}

.Home {
  display:flex;
  flex-direction: column;
  margin:0px auto;
  margin-top: 90px;
  width:70%;
  background-color:rgb(255, 255, 255);
  height:740px;
  padding:10px;
  color:white;
  border-radius:11px;
  text-align:center;
  align-items: center;
}

  .Logo, img {
    height:230px;
    padding: 20px;
}

.Buttons {
    display: grid;
    text-align: center;
   height: 100px;
    grid-gap: 30px;
     padding: 30px;
    padding-top:70px;
    border-radius: 5px;
    width: 280px;
    text-decoration: none;
    border:none;
}

.NavLink {
box-shadow: 3px 9px 10px -9px rgba(0,0,0,0.28);
border:none;
padding-top: 12px;
align-content: center;
border-radius: 10px;
}

.NavLink a {
  text-decoration: none;
}

 h2 {
    color: #4F1011;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}

