h1{
    color: black;
}
.contentbutton{
    display: flex;
}
.Itemenu{
    /* display: flex; */
    justify-content: center;
}
p{
    color: black;
}
ul{
    display: inline-block;
    color: black;
}
.custom { 
    min-width: 220px !important; 
    margin-right: 10px !important;
    padding: 10px 5px;
    margin: 5px;
    font-size: 14px;
}
