.Meseros {
  text-align: center;
}

.Menus {
  background-color: rgb(255, 255, 255);
  min-height: 360px;
  padding: 20px;
  text-align: center;
}

.Agregar {
  padding: 0px;
  text-align: center;
}

.ExecutingorderAndTotal {
  display:flex;
 min-height:300px;
}

.InputContainer {
  padding: 10px;
}

.InputName h2,
input {
  font-size: 1.2em;
  border-radius: 10px;
  margin: 10px;
}

.InputOrder h2,
input {
  font-size: 1.2em;
  border-radius: 10px;
  margin: 10px;
}

.InputMesa h2,
input {
  font-size: 1.2em;
  border-radius: 10px;
  margin: 300px;
}


 /* I Pad Pro */
@media only screen and (min-height: 1025px) and (max-height: 3160px) {
  .Menu {
    height:1280px;
  }
  .Meseros {
    min-height:1080px;
  }
  .ExecutingorderAndTotal {
   min-height:500px;
}
}

/* Desktop */
@media only screen and ( min-width: 1221px ) and ( orientation: landscape ) {
   .Meseros {
    min-height:770px;
  }
  .Menu {
    padding:0px;
}
}
