.Meseros {
  text-align:center;
}

.Menus {
  background-color: rgb(255, 255, 255);
  height: 325px;
  padding:20px;
  text-align:center;
}

.itemenu {
  display: flex;
  flex-direction:row;
}

.contentbutton {
  display:grid;
 grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 10px;
}

.btnoptions {
  text-align:center;
  border:none;
  border-radius: 10px;
  padding-top:12px;
  margin:15px;
}

.btnoptions h2 {
  color:rgb(155, 139, 139);
  text-align:center;
}

.Agregar {
  display:grid;
  height: 350px;
  padding:20px;
}

h3 .Agregar {
  text-align:center;
}

.Executingorder {
display:grid;
}
