.Header {
background-color:rgb(226, 195, 19);
text-align:right;
padding:0px;
padding-right:30px;
}

/* .Logo img {
    text-align:center;
    animation:App-logo-spin infinite 20s linear;
    height:80px;
} */
